<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YesChat</title>
    <!-- версия для разработки, отображает полезные предупреждения в консоли -->

    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/main.css" rel="stylesheet">-->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script>
        function connect() {
            ws = new WebSocket('ws://localhost:8080/test')
            ws.onmessage = function(data){
                showGreeting(data.data);
            }
            // setConnected(true);
        }

        function disconnect() {
            if (ws != null) {
                ws.close();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendName() {
            ws.send($("#name").val());
        }

        function showGreeting(message) {
            $("#greeting").append("<tr><td>" + message + "</td></tr>");
        }
        $(function () {
            $("form").on('submit', function (e) {
                e.preventDefault();
            });
            $( "#connect" ).click(function() { connect(); });
            $( "#disconnect" ).click(function() { disconnect(); });
            $( "#send" ).click(function() { sendName(); });
        });
    </script>


</head>
<body>
<h3>Hello, usr</h3>
<div id="greetings"></div>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default"  type="submit" >Disconnect
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">What is your name?</label>
                    <input type="text" id="name" class="form-control" placeholder="Your name here...">
                </div>
                <button id="send" class="btn btn-default" onclick= type="submit">Send</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Greetings</th>
                </tr>
                </thead>
                <tbody id="greeting">
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--<script src="/js/main.js"></script>-->
<!--<script src="/js/app.js"></script>-->
</body>
</html>